.sign-up {
	display: block;
	width: 100%;
	max-width: 40rem;
	margin: 4rem auto 6rem;
	padding: 2rem 0;
	.errors {
		padding: 0.6rem 2rem;
		margin: 0.5rem 0;
		border: solid 1px var(--main-red);
		border-radius: 0.5rem;
		background-color: var(--main-red-light);
		text-align: center;
		font-size: 0.9rem;
		li {
			list-style: inside;
		}
		h3 {
			margin-top: 0;
		}
	}

	.wrap {
		padding: 0 0.3rem;
		align-items: baseline;
		height: auto;
	}
	.row {
		display: flex;
		flex-direction: column;
		align-items: center;

		form {
			margin: 1.2rem auto;
		}
	}
	h2 {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-weight: 600;
		margin: 0 0 2rem 0;
	}
	.policy {
		width: 70%;
		font-size: 0.8rem;
		text-align: center;
		a {
			color: dodgerblue;
		}
	}
}
