.emailPwSignIn {
	display: flex;
	flex-direction: column;
	width: 70%;
	.pwRecovery {
		font-size: 0.8rem;
		text-transform: uppercase;
		margin: 0 auto 2rem auto;
		a {
			color: dodgerblue;
		}
	}
}
