.itemCard {
	width: 100%;
	position: relative;
	margin: 1rem;
	box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.3);
	background-color: white;
	border-radius: 5px;
	padding: 2rem;
	transition: all 0.4s ease-in-out;
	&:hover {
		box-shadow: none;
		transition: all 0.4s ease-in-out;
	}
	.itemAuthor {
		padding: 0.5rem;
		background-color: var(--main-yellow);
		opacity: 0.7;
		color: white;
		border-radius: 0px 5px 5px 0px;
		position: absolute;
		left: 0px;
		bottom: 3rem;
		font-size: 10px;
		cursor: pointer;
		&:hover {
			opacity: 1;
			transition: all 0.4s ease-in-out;
		}
	}

	.itemImage {
		display: flex;
		padding: 5px;
		margin: 4px;
		justify-content: center;
		img {
			height: 250px;
		}
	}
	.itemResume {
		display: flex;
		flex-wrap: wrap;
		padding: 5px;
		margin: 4px;
		justify-content: center;
		text-align: justify;
		span {
			width: 100%;
			text-align: center;
		}
		svg {
			cursor: pointer;
		}
	}
	.itemGlobalInfo {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		p {
			font-size: small;
			font-weight: 600;
			font-family: sans-serif;
		}
		img,
		svg {
			margin-left: 5px;
		}
		.price {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	.itemActions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 10px auto 10px auto;
		padding: 5px;
		svg {
			cursor: pointer;
		}
		button {
			cursor: pointer;
			margin: 5px;
			font-size: 9px;
			padding: 7px;
			&:hover {
				padding: 8px;
				background-color: rgba(0, 0, 0, 0.7);
			}
		}
	}
}

@media (min-width: 725px) {
	.itemCard {
		width: 46%;
		height: 100%;
	}
}

@media (min-width: 1023px) {
	.itemCard {
		width: 30%;
		height: 100%;
	}
}
