.btn-tier {
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: 1px solid var(--main-black);
	font-size: 1rem;
	color: var(--main-black);
	background-color: #ffff;
	padding: 0.7rem 1rem;
	transition: 400ms ease;
	cursor: pointer;
	img {
		margin: 0 1rem;
	}
}
.btn-tier:hover {
	// background-color: var(--main-red);
	// color: #ffff;
	border-color: #ffff;
	padding: 1rem;
}

.bg-black {
	background-color: --main-black;
}
