.header {
	display: flex;
	align-items: center;

	height: 6.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 7px 0 #2525250e;
}
@media (min-width: 425px) {
	.header {
		padding: 0 15%;
	}
}
@media (min-width: 1024px) {
	.header {
		padding: 0 20%;
	}
}
