.header {
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 1px 0 #2525250e;
	padding: 0 15px;
}
@media (min-width: 425px) {
	.header {
		padding: 0 15%;
	}
}
@media (min-width: 1024px) {
	.header {
		padding: 0 20%;
	}
}

.wrap {
	height: 6.5rem;
	display: flex;

	align-items: center;
	justify-content: space-between;
}

.callToActions {
	display: flex;
	justify-content: space-around;
}

.bi {
	margin: 0px 4px;
}
