.btn {
	display: flex;
	align-items: center;

	margin: 1rem auto;
	padding: 1rem;
	background-color: var(--main-black);
	border: 1px solid var(--main-black);
	border-radius: 5px;

	font-size: 1rem;
	text-transform: uppercase;
	color: #ffff;

	transition: 400ms ease;
	cursor: pointer;
	img {
		margin: 0 1rem;
	}
}
.btn:hover {
	padding: 1.5rem;
}
