.feature-header-center {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	height: 6.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 1px 0 #2525250e;
}
.bi-arrow-left-short {
	position: absolute;
	left: 25px;
	top: 33%;
}
