.dashboardCard {
	padding: 20px;
	margin: 10px;
	background-color: var(--main-grey);
	.infoCard {
		display: flex;
		justify-content: space-between;
		h3 {
			text-transform: uppercase;
			font-weight: 600;
			font-size: small;
		}
	}
	.item {
		display: flex;
		justify-content: space-between;
	}
}
