:root {
	/* Colors: */
	--main-black: #252525;
	--main-yellow: #e9ba00;
	--main-red: #b40707;
	--main-grey: #f0f0f0;
	--conditional-blue: #2699fb;
}

html {
	font-size: 10px;
	color: var(--main-black);
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html,
body,
.App,
.fullHeight {
	height: 100%;
}

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: var(--main-black);
}
a,
a:hover {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.main {
	width: 100%;
	height: calc(100vh - 6.5rem);
	max-width: 1450px;
	padding: 0 15px;
}
@media (min-width: 425px) {
	.main {
		padding: 0 15%;
	}
}
@media (min-width: 1024px) {
	.main {
		padding: 0 20%;
	}
}
